<!--Login page html-->
<header>Login Page</header>
<form (submit)="loginUser($event)">
  <div class="input">
    <label>Password</label>
    <input type="password" id="first">
  </div>
  <div class="input">
    <label>Password</label>
    <input type="password" id="second">
  </div>
  <div class="input">
    <input type="submit" value="Login">
  </div>
</form>

