<ngb-tabset>
  <ngb-tab title="one">
    <ng-template ngbTabContent>
      <p>CONTENT....</p>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="two">
    <ng-template ngbTabContent>
      <p>CONTENT....</p>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="three" [disabled]="random">
    <ng-template ngbTabContent>
      <p>CONTENT....</p>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="four" [disabled]="random">
    <ng-template ngbTabContent>
      <p>CONTENT....</p>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="five" [disabled]="random">
    <ng-template ngbTabContent>
      <p>CONTENT....</p>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
