<div class='container-fluid'>
  <h1>You Have Logged In Successfully</h1>
  <div class='row'>
    <div class='col-sm-4' value = 'first' style='background-color:lavender;'></div>
    <div class='col-sm-4' value = 'second' style='background-color:lavenderblush;'></div>
    <div class='col-sm-4' style='background-color:lavender' ngb-progressbar type='danger' [value]='first' [striped]="true"></div>
    <div class='col-sm-4' style='background-color:lavenderblush' ngb-progressbar type='danger' [value]='second' [striped]="true"></div>
    <div class='col-sm-4' input='button' id= 'landing' value='Main Page' style='background-color:lavender;'></div>
  </div>
</div>
